<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Z-Creek Commodity Index</title>
  <link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='styles/style.css')}}">
  <script type="text/javascript" src={{url_for('static', filename="js/jquery-1.9.1.min.js" )}}></script>
  <script type="text/javascript" src={{url_for('static', filename="js/jquery.autocomplete.min.js" )}}></script>
  <script type="text/javascript" src={{url_for('static', filename="js/currency-autocomplete.js" )}}></script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
          var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
          j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})
          (window,document,'script','dataLayer','GTM-N5SSVHR');
  </script>
</head>
<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5SSVHR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <div id="topbar"><a href="http://www.creek2sea.net/handle_data">Z-Creek Commodity Index</a></div>
  <div id="w">
    <div id="content">
      <h1>Chinese Commodity Indexes</h1>
      <p>Just start typing a commodity symbol...</p>
      <div id="searchfield" >
        <form method="post" action="/handle_data">
          <input type="text" name="symbol" class="biginput" id="autocomplete">
          <input type="submit">
        </form>
      </div><!-- @end #searchfield -->
      
      <div id="outputbox">
        <p id="outputcontent">Choose a symbol and the chart will display.</p>
      </div>
    </div><!-- @end #content -->
  </div><!-- @end #w -->
</body>
</html>